.top-div{
    text-align: center;
    background-color: darkturquoise;
    margin-top: 0;
    margin-bottom: 0;
}
body{
    margin: 0 0 0 0;
}
.mid-div{
    text-align: center;
    background-color: beige;
    margin-left: 10%;
    margin-right: 10%;
}
.title{
    color:red;
    margin-top: 0;
    margin-bottom: 10px;
}