.top-div{
    text-align: center;
    background-color: darkturquoise;
    margin-top: 0;
    margin-bottom: 0;
}
body{
    margin: 0 0 0 0;
}
.mid-div{
    text-align: center;
    background-color: beige;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 12px;
}
.title{
    color:red;
    margin-top: 0;
    margin-bottom: 10px;
}
.card{
    border-radius: 12px;
    width: 175px;
    height: 300px;
    margin: 3px 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0 0 0 0;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}
.aimg{
    border-radius: 12px;
    width: 175px;
    height: 300px;
    padding: 0 0 0 0;
}
