body{
    margin: 0 0 0 0;
    background-color: aliceblue;
}
section{
    text-align: center;
}
.mid-div{
    text-align: center;
    margin: 0 0 0 0;
    background-color: aliceblue;
}
img{
    width: 70%;
    position: relative;
    left: 15%;
    border-radius: 12px;
    margin-top: 3px;
  }
button{
  background-color:cornflowerblue;
  border-radius: 4px;
  margin-left: 4px;
  margin-right: 4px;
}
button:hover {
  background-color: white;
  color: blue;
  }
